/*
padding
margin
border
outline
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
}

p {
    font-size: 20px;
}

.one {
    color: whitesmoke;
    background-color: rebeccapurple;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 3px solid yellow;
}

.two {
    color: rgb(39, 19, 19);
    padding: 20px;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    margin-top: -10px;
}

.buttons {
    margin: 30px;
}

.buttons a {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-decoration: none;
    color: whitesmoke;
    background-color: rebeccapurple;
}

#one_b {
    border: 3px solid rgb(119, 255, 0);
}

#two_b {
    margin-left: 10px;
    outline: 3px solid rgb(119, 255, 0);
    outline-offset: 5px;
}